---
layout: base
---
{% assign posts = paginator.posts | default: site.posts %}
<div class="latest-articles">
	<h1>Latest Articles</h1>
	<p>Read the latest news, features and announcements from the Sikka Blog and around the web.</p>
	
	{% for post in posts %}
	<div class="col-2">
		<a href="{{ post.url | absolute_url }}" aria-label="Thumbnail">
			<div class="picture_1">
    {%- capture thumbnail -%}
      {% if post.thumbnail-img %}
        {{ post.thumbnail-img }}
      {% elsif post.cover-img %}
        {% if post.cover-img.first %}
          {{ post.cover-img[0].first.first }}
        {% else %}
          {{ post.cover-img }}
        {% endif %}
      {% else %}
      {% endif %}
    {% endcapture %}
    {% assign thumbnail=thumbnail | strip %}

    {% if thumbnail != "" %}
		
		<img src="{{ thumbnail | absolute_url }}" alt="Post thumbnail">
		
		{% endif %}
</div>
		<h2>{{ post.title }}</h2>
		
		<p>
			{% assign excerpt_length = site.excerpt_length | default: 50 %}
      		{{ post.excerpt | strip_html | xml_escape | truncatewords: excerpt_length }}
      		{% assign excerpt_word_count = post.excerpt | number_of_words %}
		</p>
		<dt>{{ post.author }}<br>{% assign date_format = site.date_format | default: "%B %-d" %}{{ post.date | date: date_format }}</dt>
		</a>
	</div>
	{% endfor %}
	
	
</div>

	
<div class="community">
	<a href="">
		<img src="{{ '' | absolute_url }}/assets/img/community-img.png"/>
		<h1>Community</h1>
		<p>Connect with an open community all over the world</p>
	</a>
</div>
<div class="platform">
	<div class="col-2">
		<div class="twitter"></div>
		<div class="link">
			
			<a href=""><div class="btn"><bm>Sikka</bm><i class="right"></i></div></a>
			<a href=""><div class="btn"><bm>Straightedge</bm><i class="right"></i></div></a>
		</div>
	</div>
	<div class="col-2">
		<div class="telegram"></div>
		<div class="link">
			<a href=""><div class="btn"><bm>Sikka</bm><i class="right"></i></div></a>
			<a href=""><div class="btn"><bm>Straightedge</bm><i class="right"></i></div></a>
		</div>
	</div>
	<div class="col-2">
		<div class="big-icon"></div>
		<div class="link">
			<a href=""><div class="btn"><bm>Straightedge</bm><i class="right"></i></div></a>
		</div>
	</div>
	<div class="col-2">
		<div class="keybase"></div>
		<div class="link">
			<a href=""><div class="btn"><bm>Sikka</bm><i class="right"></i></div></a>
			<a href=""><div class="btn"><bm>Straightedge</bm><i class="right"></i></div></a>
		</div>
	</div>
	<div class="col-2">
		<div class="gitHub"></div>
		<div class="link">
			<a href=""><div class="btn"><bm>Sikka</bm><i class="right"></i></div></a>
			<a href=""><div class="btn"><bm>Cosmos SDK</bm><i class="right"></i></div></a>
			<a href=""><div class="btn"><bm>Straightedge</bm><i class="right"></i></div></a>
		</div>
	</div>
</div>


