<!-- TODO this file has become a mess, refactor it -->

{% assign date_format = site.date_format | default: "%B %-d, %Y" %}




{%- capture thumbnail -%}
      {% if post.thumbnail-img %}
        {{ post.thumbnail-img }}
      {% elsif post.cover-img %}
        {% if post.cover-img.first %}
          {{ post.cover-img[0].first.first }}
        {% else %}
          {{ post.cover-img }}
        {% endif %}
      {% else %}
      {% endif %}
    {% endcapture %}

    {% assign thumbnail=thumbnail | strip %}
{% unless site.feed_show_excerpt == false %}
    {% if thumbnail != "" %}

        <img id="header-big-imgs" src="{{ thumbnail | absolute_url }}" alt="Post thumbnail">
     
    {% endif %}
{% endunless %}



<header class="header-section {% if page.cover-img %}has-img{% endif %}">
{% if page.cover-img %}
<div class="big-img intro-header">
  <div class="container-md">
    <div class="row">
      <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
        <div class="{{ include.type }}-heading">
          <h1>{% if page.title %}{{ page.title }}{% else %}<br/>{% endif %}</h1>
          {% if page.subtitle %}
            {% if include.type == "page" %}
              <hr class="small">
              <span class="{{ include.type }}-subheading">{{ page.subtitle }}</span>
            {% else %}
              <h2 class="{{ include.type }}-subheading">{{ page.subtitle }}</h2>
            {% endif %}
          {% endif %}

          {% if include.type == "post" %}
            <span class="post-meta">Posted on {{ page.date | date: date_format }}</span>
            {% if page.last-updated %}
              <span class="post-meta">
                <span class="d-none d-md-inline middot">&middot;</span>
                Last updated {{ page.last-updated | date: date_format }}
              </span>
            {% endif %}
            {% if page.readtime %}
              {% include readtime.html %}
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <span class='img-desc'></span>
</div>
{% endif %}
<div class="intro-header no-img">
  <div class="container-md">
    <div class="row">
      <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
        <div class="{{ include.type }}-heading">
          <h1>{% if page.title %}{{ page.title }}{% else %}<br/>{% endif %}</h1>
          {% if page.subtitle %}
            {% if include.type == "page" %}
              <hr class="small">
              <span class="{{ include.type }}-subheading">{{ page.subtitle }}</span>
            {% else %}
              <h2 class="{{ include.type }}-subheading">{{ page.subtitle }}</h2>
            {% endif %}
          {% endif %}

          {% if include.type == "post" %}
            <span class="post-meta">Posted on {{ page.date | date: date_format }}</span>
            {% if page.last-updated %}
              <span class="post-meta">
                <span class="d-none d-md-inline middot">&middot;</span>
                Last updated {{ page.last-updated | date: date_format }}
              </span>
            {% endif %}
            {% if page.readtime %}
              {% include readtime.html %}
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
</header>


{% else %}
<div class="intro-header"></div>
{% endif %}
