<script src="{{ "/assets/js/navbar.js" | relative_url }}"></script>

<header id="header" class="home-header">
	<div class="container">
		<div class="global-nav">
			<button class="navbar-toggle">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="brand" href="{{ '' | absolute_url }}">SIKKA</a>
			<nav class="navbar">
				<ul class="nav">
					{%- for link in site.navbar-links -%}
        			{%- if link[1].first %}
					<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ link[0] }}</a>
          </li>
					{% else %}
					<li class="">
						<a href="{{ link[1] | relative_url }}" class="home-current">{{ link[0] }}</a>
					</li>
					{%- endif -%}
                    {%- endfor -%}
				</ul>
			</nav>
		</div>
	</div>
</header>