
{%- if site.social-network-links.email -%}
  <a href="mailto:{{ site.social-network-links.email }}"><img src="{{ '' | absolute_url }}/assets/img/f-email.png"/></a>
{%- endif -%}

{%- if site.social-network-links.twitter -%}
  <a href="https://twitter.com/{{ site.social-network-links.twitter }}"><img src="{{ '' | absolute_url }}/assets/img/f-twitter.png"/></a>
{%- endif -%}

{%- if site.social-network-links.telegram -%}
  <a href="https://t.me/{{ site.social-network-links.telegram }}"><img src="{{ '' | absolute_url }}/assets/img/f-telegram.png"/></a>
{%- endif -%}

{%- if site.social-network-links.keybase -%}
  <a href="http://keybase.io//{{ site.social-network-links.keybase }}"><img src="{{ '' | absolute_url }}/assets/img/f-keybase.png"/></a>
{%- endif -%}
